.cookies{
    &.active{
        display: block;
    }
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    &__cover{
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.4;
    }
    &__panel{
        position: absolute;
        width: 100vw;
        bottom: 0;
        background-color: #FEE9BA;
    }
}


html, body{
    width: 100vw;
    font-size: 16px;
    h2{
        margin-bottom: 20px;
    }
}


.v-dialog__container {
    position: absolute;
}

.katex { font-size: 1.6em !important; }
.text .katex {font-size: 1.1em !important;}

.assumption{
    border: solid 4px #ffb81c;
    font-weight: bold;
}


.index-text{
    font-size: 16px;
    font-weight: bold;
}

.icon-custom{
    width: 24px;
    display: block !important;
}

input.highcharts-range-selector:focus {
    background-color: white;
}

.v-input--slider{
    width: 400px;
}

.v-input__append-outer, .v-input__prepend-outer {
    width: 40px;
}

.pointer {
    cursor: pointer;
}

.logo{
    max-width: 230px !important;
}

.menu{
    padding-left: 30px;
    position: fixed;
    max-width: 300px;
    top: 200px;
    z-index: 100;
}

.menu a{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 10px;
}

.menu div {
    padding-top: 20px;
}

.menu a.active, .menu a.active:hover{
    opacity: 1;
    font-weight: bold;
    color: #ffb81c;
    border-left: 3px solid #ffb81c; /* Параметры линии */
}

.menu a.sub{
    margin-left: 30px;
}
.menu a.active.sub{
    opacity: 1;
    color: #ffb81c;
    margin-left: 30px;
    border-left: 2px solid #ffb81c; /* Параметры линии */
}

.menu a:hover{
    opacity: 0.5;
    color: #ffb81c;
    border-left: 2px solid #ffb81c; /* Параметры линии */
}

.country-img{
    width: 90px;
    height: 60px;
    object-fit: contain;
}

.country-img-large{
    width: 135px;
    height: 90px;
    object-fit: contain;
}

.card {
    &__number-sm{
        font-size: 32px
    }
    &__number-lg{
        font-size: 54px;
    }
    &__description{
        font-size: 12px;
    }
    &__text-orange{
        font-size: 32px;
        color: #ffb81c;
    }
}


.v-card__text.qa-text{
    padding: 16px 24px;
    font-size: 18px;
}

.header .v-toolbar__content{
    height: 120px !important;
}

.highcharts-credits{
    opacity: 0;
}

.logo{
    height: 60px;
}

.logo2{
    height: 80px;
}

.v-content{
    padding: 120px 0 0 !important;
}

@media only screen and (max-width: 400px) {
    .v-input--slider {
        width: 100% !important;
    }
    .v-input__append-outer{
        width: 50px;
    }
    .header .v-toolbar__content{
        height: 80px !important;
    }
    .v-content{
        padding: 80px 0 0 !important;
    }
    .logo{
        height: 30px;
    }
    .logo2{
        height: 50px;
    }
}
@media only screen and (max-width: 960px) {
    body, html{
        font-size: 14px;
    }
    .card-sm{
        font-size: 18px
    }
    .card-lg{
        font-size: 24px;
    }
    .qa-title{
        font-size: 18px;
    }
    .qa-text{
        font-size: 14px;
    }
    .katex { font-size: 0.9em !important; }
    .text .katex {font-size: 0.6em !important;}
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: 750px !important;
    }
}

@media only screen and (min-width: 1264px) {
    .container {
        max-width: 1050px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1400px !important;
    }
}

@media only screen and (min-width: 1904px) {
    .container {
        max-width: 1500px !important;
    }
}

.highcharts-plot-line-label{
    font-weight: bold;
    letter-spacing: 1.8px;
    font-family: Arial;
    color: rgb(170,170,170) !important;
}

.loading{
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: black;
    font-size: 34px;
    color: white;
    text-align: center;
}

.image-cropper {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.image-pic {
    display: inline;
    margin: 0 auto 0 -25%;
    height: 100%;
    width: auto;
}
.image-cropper-sm {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
